* {
	/* outline: red 1px solid; */
}

body {
	background-color: black;
}

.main {
	background-color: white;
	/* margin-top: 110px; */
	position: absolute;
	top: 110px;
	width: 100%;
	min-width: 1200px;
	padding-left: 100px;
	height: 500px;
}


.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
} 

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px; 
	height: 90px;
	display: none;
	position: relative;
	top: 170px;
	left: -139px;
	float: left;
}

#instructions_container_top {
	position: absolute;
	top: 65px;
	left: 1033px;
	text-align: center;
}

#instructions_container_bottom {
	position: absolute;
	bottom: 65px;
	left: 1127px;
	text-align: center;
}

.instructions {
	font-family: Fantasy, Sans-serif;
	font-size: 2em;
}